.left-bar {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.main-content {
  min-height: 1000px;
  width: 737px;
  display: inline-block;
  font-size: 16px;
}
.avatar-frame {
  width: 133px;
  vertical-align: middle;
  text-align: center;
  margin-left: 21px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 12px;
  border-bottom-width: 12px;
}
.big-time {
  font-size: 32px;
  background-color: #424242;
  color: #eee;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 16px;
}
.big-area {
  font-size: 1.5em;
  font-family: "微软雅黑";
  padding-top: 1em;
  padding-bottom: 1em;
}
