@charset "utf-8";
/*
blog
*/
.BlogBox {overflow:hidden;*zoom:1;}
.LogList { }
.LogList ul li {padding:15px 0;border-bottom:1px solid #eee;  overflow: hidden;*zoom:1;}
.LogList ul li h3{margin:0 0 18px 0;}
.LogList ul li h3 a:link,.LogList ul li h3 a:visited,.LogList ul li h3 a:hover{font-size:18px;font-family:"微软雅黑";display:block;}
.LogList ul li p{line-height:23px;overflow:hidden;*zoom:1;}
.LogList ul li .userinfo{margin:0 0 5px 0;}
.LogList ul li .userinfo .name1{margin:0 10px 0 0;}
.LogList ul li .content img{float:left;margin:0 15px 0 0;}

.blog_con { }
.blog_con p { text-indent: 2em; margin: auto}
.blog_con .img_resize img{display:block;max-width:640px;_width:630px;}
.tit_log{padding:0 0 10px 0;border-bottom:1px dotted #ddd;margin:0 0 10px 0;}
.tit_log h3{ font-size:22px;margin:0 0 15px 0;font-family:"微软雅黑";}
.tit_log span{ line-height: normal; padding-top:5px;}
.tit_log h1 strong{font-family:"微软雅黑";font-size:22px;font-weight:normal;}
.imported-article { background-color:transparent; background-image:url(images/blogmini.gif); background-repeat:no-repeat; background-position:0pt 3px;_background-position:0pt 1px; font-weight:normal; width:200px; display: block; font-size: 12px; line-height: 18px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; margin-top: 5px; margin-right: 0pt; margin-bottom: 0pt; margin-left: 0pt; padding-top: 0px; padding-right: 0pt; padding-bottom: 5pt; padding-left: 19px}
.draft { width: 640px; float: left}
.draft ul { padding: 0px; margin-top: 10px; margin-right: auto; margin-bottom: 0px; margin-left: auto}
.draft ul li { clear: both; display:table; overflow: hidden; width: 100%; line-height: 20px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px}
.draft ul li .c1 { width: 6%; float: left; text-align: center; overflow: hidden}
.draft ul li .c1 input { margin: 0px; padding: 0px}
.draft ul li .c2 { width: 70%; float: left}
.draft ul li .c3 { width: 24%; float: left; text-align: center}
/*.mod_create h4{line-height:30px;padding:0 0 0 50px;font-size:14px; } */

/*发表日志样式*/
.edit { }
.edit .c1 {line-height: 20px; font-weight: bold; font-size: 12px;width:90%;}
.edit .c2 { float: left; width: 86%; overflow: visible}
.bg_msg { background-image: url(images/rz_bg.gif); background-repeat: no-repeat; background-position: 0px 0px; width: 288px; padding:10px 0 0 0; font-size:14px; margin: 30px auto}
.bg_msg_btm { background:url(images/rz_bg.gif) no-repeat 0px bottom; padding:0 0 10px 0; line-height:30px}
.bg_msg_btm td { font-weight: bold; color:#F00; font-size: 14px}

.LogList .edit select{padding:3px}

/*弹窗样式*/
.pop_add_blogclass{width:420px;padding:0 0 10px 0;text-align:center;}
.pop_add_blogclass dt,.pop_add_blogclass dd{padding:10px 0 0 0}
.pop_add_blogclass label{padding:0 10px 0 0}
.pop_add_blogclass dt .text{width:250px}



