@charset "utf-8";
/*
赵杰 相册
*/
.page_title h2 img{height:24px;width:24px;float:left;margin-right:5px}
.page_title h2{
	font-size:14px;
	color:#000000;
	font-weight:bold;
	line-height:25px;
	height:25px;
	clear:both
}
.page_title p {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	line-height: 20px;
}

.photoBox {
	clear:both;
	overflow:hidden;
}
.published {
	background-image: url(../images/ico_add.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 20px;
	line-height: 25px;
	font-size: 14px;
}
.albumlist{ clear:both; width: 768px; 
}
.albumlist .photo140 {
	background-image: url(../images/photo_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	width: 135px;
	height: 113px;
	text-align: left;
	padding-top: 7px;
	padding-left: 8px;
	margin-right: auto;
	margin-left: auto;
}
.albumlist .photo140 a{
	height: 100px;
	width: 120px;
	overflow: hidden;
	text-align: center;
	display: block;
}
.albumlist .photo140 img{ 
}
.albumlist ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 98%;
}
.albumlist ul li {
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
	width: 380px;
	float: left;
	margin-right: 10px;
}
.albumlist ul li .box{
	clear: both;
	overflow: hidden;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 373px;
	margin: 2px;
	padding-top: 5px;
	height:125px;
}
.albumlist ul li .c1{
	float: left;
	width: 160px;
}
.albumlist ul li .c2{
	width: 210px;
	float: left;
}
.albumlist ul li dl {
	margin: 0px;
	padding: 0px;
}
.albumlist ul li dl dt{
	font-size: 14px;
	line-height: 30px;
}
.albumlist ul li dl dd{
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}
/*专辑内容列表*/
.piclist{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBC1CC;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.piclist li{
	float: left;
	height: 130px;
	overflow: hidden;
	width: 160px;
	text-align: center;
	margin-top: 5px;
}
.piclist li img {
	padding: 2px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}
.view{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBC1CC;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #f6f6f6;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}.view .c1 {
	width: 720px;
	float: left;
}
.view .c1 .info {
	font-size: 12px;
	line-height: 20px;
	margin-left: 10px;
}

.view .c2 {
	width: 90px;
	float: left;
	border: 1px solid #CCCCCC;
	text-align: center;
	height: 370px;
}
.view .c2 img{
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding: 1px;
	border: 1px solid #DFDEE6;
	display: block;
}
.view .c2 img.on{
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding: 1px;
	border: 1px solid #999999;
	display: block;
}
.viewRC{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	margin-top: 10px;
	}
.viewRC .c1{
	width: 650px;
	float: left;
}
.viewRC .c2{
	width: 150px;
	float: left;
	margin-left: 20px;
}.viewRC .c2 a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DFEA;
	line-height: 20px;
	display: block;
	padding-left: 5px;
}
.viewRC .c2 div { height: 22px; }

.viewRC .c2 a:hover {
	background-color: #336699;
	color: #FFFFFF;
	text-decoration: none;
}

/*好友的照片*/

.fphotolist{ width: 810px; clear:both;}
.fphotolist .photo130 {
	width: 130px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.fphotolist .photo130 a{
	overflow: hidden;
	text-align: center;
	display: block;
}
.fphotolist .photo130 img{ }
.fphotolist ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 98%;
}
.fphotolist ul li {
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
	width: 380px;
	float: left;
	margin-right: 10px;
}
.fphotolist ul li .box{
	clear: both;
	display:table;
	overflow: hidden;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 373px;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.fphotolist ul li .c1{
	float: left;
	width: 130px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.fphotolist ul li .c2{
	width: 210px;
	float: left;
}
.fphotolist ul li dl {
	margin: 0px;
	padding: 0px;
}
.fphotolist ul li dl dt{ line-height: 30px; 
}
.fphotolist ul li dl dt a { text-decoration: underline; }

.fphotolist ul li dl dd{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}

/* 好友的最新专辑*/

.falbumlist{ width: 810px; clear:both;}
.falbumlist .photo140 {
	background-image: url(../images/photo_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	width: 135px;
	height: 113px;
	text-align: left;
	padding-top: 7px;
	padding-left: 8px;
	margin-right: auto;
	margin-left: auto;
}
.falbumlist .photo140 a{
	height: 100px;
	width: 120px;
	overflow: hidden;
	text-align: center;
	display: block;
}
.falbumlist .photo140 img{ 
}
.falbumlist ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 98%;
}
.falbumlist ul li {
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
	width: 380px;
	float: left;
	margin-right: 10px;
}
.falbumlist ul li .box{
	clear: both;
	display:table;
	overflow: hidden;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 373px;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.falbumlist ul li .c1{
	float: left;
	width: 160px;
}
.falbumlist ul li .c2{
	width: 210px;
	float: left;
}
.falbumlist ul li dl {
	margin: 0px;
	padding: 0px;
}
.falbumlist ul li dl a{ text-decoration: underline; }
.falbumlist ul li dl dt{
	font-size: 14px;
	line-height: 30px;
}
.falbumlist ul li dl dd{
	font-size: 12px;
	color: #999999;
	line-height: 20px;
}


/*圈有我的照片*/
.mark{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.mark li{
	float: left;
	overflow: hidden;
	width: 137px;
	text-align: center;
	padding-right: 20px;
	margin-bottom: 10px;
}
.mark li .name {
	overflow: hidden;
	line-height: 20px;
	height: 20px;
	position: relative;
	width: 137px;
}
.mark li .name .c1 { }
.mark li .name .c2 { visibility: hidden; }
.mark li .name2 {
	overflow: hidden;
	line-height: 20px;
	height: 20px;
	background-color: #F2EEFF;
	position: relative;
	width: 137px;
}
.mark li .name2 .c1 { }
.mark li .name2 .c2 {
	position: absolute;
	right: 2px;
	visibility: visible;
	top: 4px;
}

.mark li img {
	padding: 3px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}

/*圈有好友的照片*/
.fmark{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.fmark li{
	float: left;
	overflow: hidden;
	width: 137px;
	text-align: center;
	padding-right: 20px;
	margin-bottom: 10px;
}
.fmark li .name {
	overflow: hidden;
	line-height: 20px;
	height: 20px;
	position: relative;
	width: 137px;
}
.fmark li img {
	padding: 3px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}
/*编辑专辑*/
.edit_box{
	margin-left: 10px;
	margin-bottom: 30px;
	padding-top: 10px;
}
.edit_box .li{
	height: 30px;
	clear: both;
}
.edit_box .li .c1{
	width: 65px;
	float: left;
	line-height: 20px;
}
.edit_box .li .c2{ width: 500px; }
.edit_list{
	width: 810px;
	clear:both;
}
.edit_list h3 {
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
}

.edit_list .photo130 {
	width: 130px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	height: 130px;
}
.edit_list .photo130 a{
	overflow: hidden;
	text-align: center;
	display: block;
}
.edit_list .photo130 img{ }
.edit_list ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 98%;
}
.edit_list ul li {
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
	width: 380px;
	float: left;
	margin-right: 10px;
}
.edit_list ul li .box{
	clear: both;
	display:table;
	overflow: hidden;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 373px;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.edit_list ul li .c1{
	float: left;
	width: 130px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.edit_list ul li .c2{
	width: 210px;
	float: left;
}
.edit_list ul li dl {
	margin: 0px;
	padding: 0px;
}
.edit_list ul li dl dt{
	height: 35px;
	padding-top: 5px;
}

.edit_list ul li dl dd{
	font-size: 12px;
	height: 30px;
}
/*专辑的照片排序*/
.order{
	line-height: 30px;
	margin-left: 10px;
}
.orderlist{
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBC1CC;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.orderlist li{
	cursor:move;
	float:left;
	height:160px;
	line-height:150px;
	overflow:hidden;
	position:relative;
	text-align:center;
	width:160px;
}
.orderlist li img {
	border:1px solid #CCCCCC;
	cursor:move;
	padding:4px;
	vertical-align:middle;
}

/*上传照片样式*/
.upload{ margin-top: 20px; }
.msg{
	width: 752px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.msg p {
	line-height: 20px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.upload .clue {
	background-image: url(../images/clue.gif);
	background-repeat: no-repeat;
	background-position: 0px top;
	width: 300px;
	float: left;
	margin-top: 20px;
	padding-top: 5px;
}
.upload .clue p {
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: 0px;
	line-height: 20px;
	color: #666666;
}
.upload .clue_btm {
	background-image: url(../images/clue.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	height: 5px;
	display: block;
	width: 100%;
}
.upload ul{
	float: left;
	width: 450px;
}
.upload li {
	clear: both;
	overflow: hidden;
	display:table;
	display:inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.upload li .c1 {
	width: 85px;
	float: left;
	line-height: 20px;
	text-align: right;
	margin-right: 5px;
}
.upload li .c2 { float: left; 
}
.upload li .c2 .rank { width: 360px; }

.upload .edit_list{
	width: 810px;
	clear:both;
}
.upload .edit_list h3 {
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
}

.upload .edit_list .photo130 {
	width: 130px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	height: 130px;
}
.upload .edit_list .photo130 a{
	overflow: hidden;
	text-align: center;
	display: block;
}
.upload .edit_list .photo130 img{ }
.upload .edit_list ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 98%;
}
.upload .edit_list ul li {
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
	width: 380px;
	float: left;
	margin-right: 10px;
}
.upload .edit_list ul li .box{
	clear: both;
	display:table;
	overflow: hidden;
	line-height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 373px;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.upload .edit_list ul li .c1{
	float: left;
	width: 130px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.upload .edit_list ul li .c2{
	width: 210px;
	float: left;
}
.upload .edit_list ul li dl {
	margin: 0px;
	padding: 0px;
}
.upload .edit_list ul li dl dt{
	height: 35px;
	padding-top: 5px;
}

.upload .edit_list ul li dl dd{
	font-size: 12px;
	height: 30px;
}
