/*.arrow-find-w,.arrow-find-r,.arrow-line-down,.arrow-line-right,.arrow-weiba,.arrow-topic,.arrow-down,.arrow-down-big,.arrow-grey,.arrow-down-white,.arrow-att-t,.arrow-up-grey,.arrow-down-grey,.arrow-down-t,.arrow-t, .arrow-right, .arrow-left, .arrow-current, .arrow-set-t, .arrow-nav-t, .arrow-nav-b, .arrow-hide, .arrow-show, .arrow-thinRb,.arrow-r{background:url(image/arrow.png) no-repeat 0 0;display:inline-block;vertical-align:middle;overflow:hidden;_background:url(../image/arrow.gif) no-repeat 0 0;}
.arrow-find-r{background-position:-34px -51px;width:7px;height:7px;}
.arrow-find-w{background-position:-32px -74px;width:13px;height:13px;}*/

.find-type{background:#f8f8f8;padding:20px;border-bottom:1px solid #ddd;}
#col0{width:176px;float: left;}
.find-type-list{border:1px solid #ddd;position:relative;background:#f5f5f5;}
.find-type-list li{position:relative;border-top:1px solid #ddd;}
.find-type-list .first{height:39px;line-height:39px;padding:0 0 0 10px;border-top:0;float:none;}
.find-type-list li a:link,.find-type-list li a:visited{height:39px;line-height:39px;padding:0 0 0 10px;display:block;}
.find-type-list li a:hover,.find-type-list li a:link.current,.find-type-list li a:visited.current{background:#414448;color:#fff;}
/*.find-type-list li .find-nav{position: relative;z-index:99;line-height:36px;border:2px solid transparent;display:block;_border:2px solid #f5f5f5;_overflow:hidden;}
.find-type-list li .find-nav.current,.find-type-list .all.current{border:2px solid #414448;background:#fff;}
.find-type-list li a:hover{background:#fff;border:2px solid #414448;padding:8px 1px  8px 8px;line-height:14px;border-right:0;}
.find-type-list li:hover .find-nav{border:2px solid #414448;background:#fff;display:block;display:block;}
.find-type-ind li:hover .find-nav{border:2px solid #414448;background:#fff;border-right:0;margin-right:-2px;z-index:99;display:block;}
.find-type-list .first{height:39px;line-height:39px;padding:0 0 0 10px;border-top:0;float:none;}
.find-type-list .all{line-height:36px;padding:0 0 0 10px;float:none;}*/

.find-type-list .arrow-find-r{position:absolute;right:10px;top:15px;}
.find-type-list .no-border{border-bottom:0;}
/*.find-type .app-tab-menu li{float:left;}
.find-type .app-tab-menu li a:link,.find-type .app-tab-menu li a:visited{background:none;height:16px;line-height:16px;color:#414448;padding:5px 10px;display:inline-block;font-size:14px;font-weight:bold;position:relative;}
.find-type .app-tab-menu li a:link.current,.find-type .app-tab-menu li a:visited.current{background:#414448;color:#fff;font-weight:bold;position: relative;}

.triangle{border-color: #414448 transparent transparent transparent;border-style: solid;border-width: 6px 6px 0px 6px;width: 0;height: 0;position:absolute;left:40%;bottom:-6px;line-height:0;font-size:0;_border-left-color:#f8f8f8;_border-right-color:#f8f8f8;_filter: chroma( color =#f8f8f8);}
.line{background:url(image/line.jpg) no-repeat;width:1px;height:17px;display:inline-block;vertical-align:middle;margin:0 10px;*vertical-align:3px;font-size:0;}*/

#col9{width:720px;}
.select-title{margin:0 0 10px 0;}
.select-type{background:#f2f2f2;padding:10px 10px 0 10px;margin:0 0 20px 0;}
.select-type dl{overflow:hidden;zoom:1;}
.select-type dt{margin:0 10px 10px 0;color:#333;font-weight:bold;float:left;line-height:18px;height:18px;*line-height:20px;*margin:0 3px 10px 0;}
#col9 .select-type dd{margin:0 0 0 34px;}
.select-type dd a:link,.select-type dd a:visited{color:#666;margin:0 5px 5px 0;height:14px;line-height:14px;display:inline-block;padding:3px 5px;}
.select-type dd a.current,.select-type dd a:hover{background:#414448;color:#fff;}



.area-type-lists{padding:10px;background:#f5f5f5;border:1px solid #ddd;}
.area-type-list{margin-bottom:6px;border-bottom:1px solid #ddd;}
.area-type-list ul{overflow:hidden;}
.area-type-list.no-margin{border-bottom:none;}
.area-type-list li{border:0;float:left;}
.area-type-list li a:link,.area-type-list li a:visited{color:#333;line-height:12px;height:14px;margin:0 10px 10px 0;padding:2px 5px;display:block;white-space:nowrap;*line-height:14px;_display:inline-block;}
.area-type-list li a:hover,.area-type-list li a:link.current,.area-type-list li a:visited.current{background:#414448;color:#fff;padding:2px 5px;*line-height:14px;}

.area-type-lists p{line-height:20px;padding:0 0 10px 0;float:none;font-weight:bold;}

.find-interest .select-type-list dl{width:278px;}

.user-intro{border:1px solid #ddd;margin:0 0 20px 0;padding:10px;height:110px;overflow:hidden;background:-moz-linear-gradient(top,#fefefe,#f2f2f2);}
.user-intro dt{float:left;padding:5px 0;}
.user-intro dd{margin:0 0 0 120px;height:110px;position:relative;}
.user-intro dd strong{font-size:18px;margin:0 0 10px 0;display:block;color:#333;font-family:"微软雅黑";height:20px;line-height:20px;}
.user-intro .find-user-info{margin:0 40px 0 0;position:relative;height:102px;padding:2px 0 0 0;_padding:7px 0 0 0;}
.user-intro .find-user-info p{line-height:18px;}
.user-intro .find-user-info .btn-att-white,.user-intro .find-user-info .btn-cancel{position:absolute;bottom:0;}
.user-intro .find-user-list li a:link,.user-intro .find-user-list li a:visited{display:block;margin:0 0 1px 0;border:2px solid transparent;*font-size:0;_border:2px solid #fff;}
.user-intro .find-user-list li a img{display:block;width:30px;height:30px;padding:1px;}
.user-intro .find-user-list li a:link.current,.user-intro .find-user-list li a:visited.current,.user-intro .find-user-list li a:hover{border:2px solid #FDD193;}

/*hover*/
.find-type-list .hover{background:#fff;width:306px;border:2px solid #414448;padding:12px 12px 2px 12px;position:absolute;left:174px;top:0px;}

.clearfixul{*zoom:1}
.clearfixul:after{visibility:hidden;display:block;font-size:0;content:" ";clear:left;height:0;}

.app-title .search-input input {color: #999999;margin: 0 5px;overflow: hidden;padding: 6px 0;width: 150px;}
