.pagination {margin:3px;
	padding:3px;
	text-align:center;
	font-family: "宋体";
	font-size: 14px;
	clear: both;
	height: 32px;
    line-height: 30px;
	}
.pagination a {
	background-position:50% bottom;
	border-bottom:#ccdbe4 1px solid;
	border-left:#ccdbe4 1px solid;
	border-right:#ccdbe4 1px solid;
	border-top:#ccdbe4 1px solid;
	color:#0061de;
	margin-right:3px;
	text-decoration:none;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.pagination a:hover{background-color:#3666d4;background-image:none;border-bottom:#2b55af 1px solid;border-left:#2b55af 1px solid;border-right:#2b55af 1px solid;border-top:#2b55af 1px solid;color:#fff}
.pagination a:active{background-color:#3666d4;background-image:none;border-bottom:#2b55af 1px solid;border-left:#2b55af 1px solid;border-right:#2b55af 1px solid;border-top:#2b55af 1px solid;color:#fff}

.pagination a, .pagination span {}
.pagination .current{color:#000;font-weight:bold;margin-right:3px;padding:2px 6px}
/*.pagination .current.prev, .pagination .current.next{
	border-right:#eee 1px solid;border-top:#eee 1px solid;margin:2px;border-left:#eee 1px solid;color:#ddd;border-bottom:#eee 1px solid;padding:2px 5px}*/
.pagination A.next{border-bottom:#ccdbe4 2px solid;border-left:#ccdbe4 2px solid;border-right:#ccdbe4 2px solid;border-top:#ccdbe4 2px solid;margin:0px 0px 0px 10px}
.pagination A.next:hover{border-bottom:#2b55af 2px solid;border-left:#2b55af 2px solid;border-right:#2b55af 2px solid;border-top:#2b55af 2px solid}
.pagination A.prev{border-bottom:#ccdbe4 2px solid;border-left:#ccdbe4 2px solid;border-right:#ccdbe4 2px solid;border-top:#ccdbe4 2px solid;margin:0px 10px 0px 0px}
.pagination A.prev:hover{border-bottom:#2b55af 2px solid;border-left:#2b55af 2px solid;border-right:#2b55af 2px solid;border-top:#2b55af 2px solid}



